img {
    width: 370px;
    height: auto;
}

.border {
    border: 5px solid #000
}

.filtro-badge {
    text-decoration: none;
}

.filtro-badge:hover {
    padding: 0.5%;
    color: #fff;
    transition: 0.5s;
}

.del {
    color: #a9a9a9;
}

a {
    text-decoration: none;
    color: #000;
}

.tam-qtd-item {
    width: 10vh;

}

.comprar-qtd {
    width: 40vh;
}
.caminhao {
    width: 60px;
    height: auto;
}
.frete {
    align-items: end;
}

.tamanho_input_cep {
    width: 39vh;
}

p {
    text-align: justify;
}

@media (max-width: 420px) {
    img {
        width: 170px;
        height: auto;
    }
}