#barraDePesquisa::placeholder {
    background-image: url('../../../../assets/img/livros.png');
    background-repeat: no-repeat;
}

.color {
    background-color: #000;
}

.wid {
    width: 70vh;
}

@media (max-width: 420px) {
    .wid {
        width: 26vh;
    }

    .tam-logo {
        margin-right: 40%;
        margin-left: 40%;
        width: auto;
        height: 40px;
    }

    .none {
        display: none;
    }
    .tam-p {
        font-size: small;
    }
    .tam-carrinho {
        width: auto;
        height: 30px;
    }
    .tam-row {
        justify-content: flex-start;
    }


}


@media (max-width: 991px)
{
    .wid {
        width: 30vh;
    }
}

@media (max-width: 1156px)
{
    .wid {
        width: 56vh;
    }
}

@media (max-width: 1054px)
{
    .wid {
        width: 46vh;
    }
}

@media (max-width: 977px)
{
    .wid {
        width: 36vh;
    }
}

@media (max-width: 900px)
{
    .wid {
        width: 26vh;
    }
}

@media (max-width: 827px)
{
    .tam-p {
        font-size: small;
    }
    .tam-logo {
        width: auto;
        height: 35px;
    }
    .wid {
        width: 26vh;
    }
}