#barraDePesquisa::placeholder {
    background-image: url('../../../../assets/img/livros.png');
    background-repeat: no-repeat;
}
.color{
    background-color: #000;
}
.wid {
    width: 70vh;
}

/*now, maake it responsive
@media (max-width: 991px)
{
    .wid {
        width: 30vh;
    }
}

@media (max-width: 856px)
{
    .wid {
        width: 25vh;
    }
}

@media (max-width: 448px)
{
   
}*/