<div *ngIf="isHeader">
    <nav class="navbar navbar-expand-sm d-flex justify-content-between color">
        <!--logo-->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <div class="nav-link">
                    <a routerLink="/home"><img class="tam-logo" src="assets/img/logo.png" /></a>
                </div>
            </li>
        </ul>
        <!--barra de pesquisa-->
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <div class="nav-link">
                    <div class="input-group">
                        <input id="barraDePesquisa" type="search" [(ngModel)]="tituloLivro"
                            class="form-control wid tm-busca" name="tituloLivro"
                            placeholder="         Pesquise aqui seu livro" aria-label="true">
                        <button [routerLink]="['busca-livro', tituloLivro]" class="btn btn-outline-light" type="button"
                            id="button-addon2"><i class="fa fa-search" style="margin: 0 2px;"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <!--menu e carrinho-->
        <ul class="nav justify-content-end pe-2 mr-5">
            <div class=" tam-row navbar-collapse d-flex ">
                <!--<a class="nav-link dropdown-toggle text-light" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Olá, {{nome}}
                </a>-->
                <div><img class="none" src="assets/img/user32.png" /></div>
                <div><li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light tam-p" data-bs-toggle="dropdown" href="" role="button"
                        aria-expanded="false"
                        *ngIf="authService.logado() == false && authService.logadoFuncionario() == false">Minha
                        Conta</a>
                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false" *ngIf="authService.logado() || authService.logadoFuncionario()">Olá,
                        {{nome}}</a>
                    <ul class="dropdown-menu mr-5">
                        <li><a class="dropdown-item tam-p" data-bs-toggle="modal"
                                *ngIf="authService.logado() == false && authService.logadoFuncionario() == false"
                                data-bs-target="#loginModal">Entrar</a></li>
                        <li><a class="dropdown-item tam-p" data-bs-toggle="modal"
                                *ngIf="authService.logado() == false && authService.logadoFuncionario() == false"
                                data-bs-target="#modalCadastro">Fazer Cadastro</a></li>
                        <li><a class="dropdown-item tam-p" *ngIf="authService.logado()"
                                [routerLink]="['/endereco', clienteLogin.id_cliente]">Meus Endereços</a></li>
                        <li><a class="dropdown-item tam-p" *ngIf="authService.logado()"
                                [routerLink]="['/minha-conta', idCliente]">Atualizar Cadastro</a></li>
                        <li><a class="dropdown-item tam-p" *ngIf="authService.logadoFuncionario()"
                                routerLink="/funcionario">Painel</a></li>
                        <li><a class="dropdown-item tam-p" *ngIf="authService.logado()" routerLink="/meus-pedidos">Meus
                                Pedidos</a></li>
                        <li><a class="dropdown-item tam-p" *ngIf="authService.logado() || authService.logadoFuncionario()"
                                (click)="sair()" routerLink="/home">Sair</a></li>
                    </ul>

                </li></div>
               <div><a *ngIf="authService.logadoFuncionario() == false" routerLink="/carrinho" class="carrinho"><img class="tam-carrinho"
                        src="assets/img/carrinho.png"></a></div> 
            </div>
        </ul>
    </nav>

    <!--header3 (mais opções de navegação)-->
    <nav class="navbar navbar-expand-sm color justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item" (focus)="getAllEtiquetas()" *ngFor="let item of listaTags">
                <a class="nav-link text-light tam-p" [routerLink]="['/busca-etiqueta', item.id_etiqueta]">{{item.nome}}</a>
            </li>
        </ul>
    </nav>
</div>

<!-- Modal fazer cadastro -->
<div class="modal" id="modalCadastro">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cadastre-se</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <form class="row p-4 g-3 needs-validation" novalidate>
                <div class="form-group col-12">
                    <label for="nomeCompleto" class="form-label">Nome Completo</label>
                    <input [(ngModel)]='cliente.nome' type="text" name="nome" class="form-control" id="nomeCompleto"
                        placeholder="Maria da Silva" required>
                    <div class="invalid-feedback">
                        Por favor, preencha seu nome completo.
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="emailCadastro" class="form-label">Email</label>
                    <input [(ngModel)]='cliente.email' type="text" name="senha" class="form-control" id="emailCadastro"
                        placeholder="maria@mail.com" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="passwordCadastro" class="form-label">Senha</label>
                    <input [(ngModel)]='cliente.senha' type="password" name="senha" class="form-control"
                        placeholder="Senha@123" id="passwordCadastro" required>
                    <div class="invalid-feedback">
                        Por favor, escolha uma senha com no mínimo 6 dígitos para continuar.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="dataNasc" class="form-label">Data de Nascimento</label>
                    <input [(ngModel)]='cliente.dataNascimento' type="date" name="data" class="form-control"
                        id="dataNasc" required>
                    <div class="invalid-feedback">
                        Por favor, preencha sua data de nascimento para continuar.
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Desejo receber emails promocionais e informativos da Releia.me
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                        <label class="form-check-label" for="gridCheck">
                            Concordo com os termos e condições de uso.
                            <div class="invalid-feedback">
                                Você deve concordar, antes de continuar.
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)='cadastrar()'>Criar
                        Cadastro</button>
                    <br><br>
                    <p> Já é cadastrado? <a class="text-dark" data-bs-toggle="modal" data-bs-target="#loginModal"
                            href="">Acesse
                            sua conta.</a></p>
                </div>
            </form>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- login Modal-->
<div class="modal" id="loginModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title">Faça login para continuar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!--Modal Body-->
            <form class="needs-validation" novalidate>
                <div class="p-4">
                    <div class="mb-3">
                        <label for="emailLogin" class="form-label">Email</label>
                        <input [(ngModel)]='clienteLogin.email' [(ngModel)]="funcionarioLogin.codf" name="email"
                            type="email" class="form-control" placeholder="seuemail@mail.com" id="email"
                            aria-describedby="email">
                    </div>
                    <div class="mb-3">
                        <label for="passwordLogin" class="form-label">Senha</label>
                        <input [(ngModel)]='clienteLogin.senha' [(ngModel)]="funcionarioLogin.senha" name="senha"
                            type="password" placeholder="Senha@123" class="form-control" id="passwordLogin">
                    </div>
                    <div class="mb-3 row d-flex form-check">
                        <div class="col-md-6">
                            <input type="checkbox" class="form-check-input" id="checkConect">
                            <label class="form-check-label" for="checkConect">Me manter conectado</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" class="form-check-input" name="funcionario"
                                (change)="tipoUsuario($event)" value="funcionario" id="checkFuncionario">
                            <label class="form-check-label" for="checkConect">Funcionario?</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="logar()">Entrar</button>
                    <br><br>
                    <p>Primeira compra? <a class="text-dark" data-bs-toggle="modal" data-bs-target="#modalCadastro"
                            href="">Criar
                            Conta.</a></p>
                </div>
            </form>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>