<!--Header se o cliente estiver logado-->
<section ngIf="auth.logado(), else deslogado">

    <!--header 1 (opções de navegação)-->
    <header class="navbar color-header bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/home">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="#">Meus Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#fale-conosco"
                    routerLink="/fale-conosco">Fale Conosco</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/header-inicio-deslog" (click)="sair()">Sair <i
                        class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </header>

    <!--header2 (logo, barra de pesquisa, opções de navegação e carrinho )-->

    <nav class="navbar navbar-expand-lg d-flex justify-content-between color">
        <!--logo-->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <div class="nav-link">
                    <img src="assets/img/logo.png" />
                </div>
            </li>
        </ul>
        <!--barra de pesquisa-->
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <div class="nav-link">
                    <div class="input-group">
                        <input type="text" class="form-control wid" id="barraDePesquisa"
                            placeholder="        Pesquise aqui seu livro" aria-label="true">
                        <button class="btn btn-outline-light" type="button" id="button-addon2"><i class="fa fa-search"
                                style="margin: 0 2px;"></i></button>
                    </div>
                </div>
            </li>
        </ul>
        <!--menu e carrinho-->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="collapse navbar-collapse nav-link" id="collapsibleNavbar">
                    <img src="assets/img/user32.png">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" routerLink="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Minha Conta
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" routerLink="/header-inicio-deslog"
                                        (click)="sair()">Sair</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" routerLink="/minha-conta">Minha Conta</a></li>
                                <li><a class="dropdown-item" routerLink="/meus-pedidos">Meus Pedidos</a></li>
                                <li><a class="dropdown-item" routerLink="/trocar-devolver">Trocar ou Devolver</a></li>
                            </ul>
                        </li>
                        <button type="button" class="btn btn-black position-relative">
                            <a routerLink="/carrinho" class="carrinho"><img src="assets/img/carrinho.png" /></a>
                            <span class="position-absolute start-60 translate-middle badge rounded-pill bg-danger">
                                4
                                <span class="visually-hidden">itens no carrinho</span>
                            </span>
                        </button>
                    </ul>
                </div>
        </ul>
    </nav>

    <!--header3 (mais opções de navegação)-->
    <nav class="navbar navbar-expand-sm color justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Lançamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Infantis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Mais vendidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Literatura Nacional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Didáticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Autoajuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Direito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Medicina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Administração</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Coleções</a>
            </li>
        </ul>
    </nav>
</section>

<!--Header se o cliente estiver deslogado-->
<ng-template deslogado>
    <!--header 1 (opções de navegação)-->
    <header class="navbar color-header bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/meus-pedidos">Meus Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#fale-conosco"
                    routerLink="/fale-conosco">Fale Conosco</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#loginModal"
                    routerLink="/login">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#modalCadastro"
                    routerLink="/cadastro">Fazer Cadastro</a>
            </li>
        </ul>
    </header>

    <!--header2 (logo, barra de pesquisa, opções de navegação e carrinho )-->

    <nav class="navbar navbar-expand-lg d-flex justify-content-between color">
        <!--logo-->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <div class="nav-link">
                    <a routerLink=""><img src="assets/img/logo.png" /></a>
                </div>
            </li>
        </ul>
        <!--barra de pesquisa-->
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <div class="nav-link">
                    <div class="input-group">
                        <input type="text" class="form-control wid" id="barraDePesquisa"
                            placeholder="        Pesquise aqui seu livro" aria-label="true">
                        <button class="btn btn-outline-light" type="button" id="button-addon2"><i class="fa fa-search"
                                style="margin: 0 2px;"></i></button>
                    </div>
                </div>
            </li>
        </ul>
        <!--menu e carrinho-->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="collapse navbar-collapse nav-link" id="collapsibleNavbar">
                    <img src="assets/img/user32.png">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" routerLink="/minha-conta" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Minha Conta
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal"
                                        routerLink="/login">Entrar</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCadastro"
                                        routerLink="/cadastro">Fazer
                                        Cadastro</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" routerLink="/minha-conta#">Minha Conta</a></li>
                                <li><a class="dropdown-item" routerLink="/meus-pedidos">Meus Pedidos</a></li>
                            </ul>
                        </li>
                        <a routerLink="/carrinho" class="carrinho"><img src="assets/img/carrinho.png"></a>
                    </ul>
                </div>
        </ul>
    </nav>

    <!--header3 (mais opções de navegação)-->
    <nav class="navbar navbar-expand-sm color justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Lançamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Infantis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Mais vendidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Literatura Nacional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Didáticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Autoajuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Direito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Medicina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Administração</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/#">Coleções</a>
            </li>
        </ul>
    </nav>
</ng-template>