<div class="container-fluid">
    <!--aqui a casinha apontando para qual livro está mostrando os detalhes -->
    <a href="#"><i class="fa fa-home my-3"></i></a>
    <i class="fa fa-angle-right mx-2"></i>
    <small>A FÚRIA DOS REIS</small>
    <div class="row ms-4">
        <div class="col-md-6 my-3 border d-flex justify-content-center"><img
                src="../../../../assets/img/a-furia-dos-reis-livro-2.webp" /></div>

        <!--livro e compra-->
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h4>A FÚRIA DOS REIS - AS CRÔNICAS DE GELO E FOGO</h4>
                    <p>Código: 3698558380771_1</p>
                    <!--filtros coloridos indicando a qual categoria pertence um livro-->
                    <a href="#" class="badge bg-success filtro-badge mx-1">Coleções</a>
                    <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
                    <div class="my-4">
                        <h4><em><small><del class="del">R$59,90</del></small></em><strong>R$ 49,50</strong>
                        </h4>
                        <p>Em até 10x de R$ 4,95 sem juros</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <input type="number" class="form-control tam-qtd-item" id="qtdItem" value="1">
                        <a href="#" class="btn btn-danger comprar-qtd mx-3">Comprar</a>
                    </div>
                    <div class="d-flex pt-4 frete">
                        <img class="caminhao" src="../../../../assets/img/caminhao-de-entrega.png" />
                        <h3 class="mx-2">
                            Calcular Frete</h3>
                    </div>
                    <div class="input d-flex">
                        <input type="text" class="form-control tamanho_input_cep" placeholder="00000-000"
                            aria-label="cepConsulta" aria-describedby="button-addon2">
                        <button class="btn btn-outline-dark ms-2" type="button" id="cepConsulta">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Descrição e detalhes-->
<div class="container pt-3">
    <h2>Descrição</h2>
    <p>Em A fúria dos reis, seis facções disputam o controle de uma terra dividida e o direito de ocupar o Trono de Ferro de Westeros – e estão dispostos a encarar tempestades, levantes e guerras para isso.
        Nesta história, irmão trama contra irmão e os mortos se levantam para caminhar pela noite. Aqui, uma princesa se disfarça de menino órfão, um cavaleiro se prepara para encarar uma pérfida feiticeira e bárbaros descem das Montanhas da Lua para saquear os campos.
        Em um contexto de incesto e fratricídio, alquimia e assassinato, a vitória será dos homens e mulheres que possuírem o mais frio aço... e o mais frio coração. Pois, quando se desperta a fúria dos reis, a terra inteira treme.</p>

        <h4 class="py-4">Mais Informações </h4>
        <p>Editora: Leya <br>
        Edição: 1ª edição (25 março 2020)<br>
        Idioma:  Português<br>
        Páginas:   608 páginas<br>
        Capa: Dura <br>
        Dimensões: 22.6 x 15.6 x 3.2 cm</p>
</div>