<div class="container-fluid">
    <!--aqui a casinha apontando para qual livro está mostrando os detalhes -->
    <a href="#"><i class="fa fa-home my-3"></i></a>
    <i class="fa fa-angle-right mx-2"></i>
    <small>A DANÇA DOS DRAGÕES</small>
    <div class="row ms-4">
        <div class="col-md-6 my-3 border d-flex justify-content-center"><img
                src="../../../../assets/img/a-danca-dos-dragoes-livro5.webp" /></div>

        <!--livro e compra-->
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h4>A DANÇA DOS DRAGÕES - AS CRÔNICAS DE GELO E FOGO</h4>
                    <p>Código: 9786558965832_1</p>
                    <!--filtros coloridos indicando a qual categoria pertence um livro-->
                    <a href="#" class="badge bg-success filtro-badge mx-1">Coleções</a>
                    <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
                    <div class="my-4">
                        <h4><em><small><del class="del">R$59,90</del></small></em><strong>R$ 49,50</strong>
                        </h4>
                        <p>Em até 10x de R$ 4,95 sem juros</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <input type="number" class="form-control tam-qtd-item" id="qtdItem" value="1">
                        <a href="#" class="btn btn-danger comprar-qtd mx-3">Comprar</a>
                    </div>
                    <div class="d-flex pt-4 frete">
                        <img class="caminhao" src="../../../../assets/img/caminhao-de-entrega.png" />
                        <h3 class="mx-2">
                            Calcular Frete</h3>
                    </div>
                    <div class="input d-flex">
                        <input type="text" class="form-control tamanho_input_cep" placeholder="00000-000"
                            aria-label="cepConsulta" aria-describedby="button-addon2">
                        <button class="btn btn-outline-dark ms-2" type="button" id="cepConsulta">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Descrição e detalhes-->
<div class="container pt-3">
    <h2>Descrição</h2>
    <p>É outono em Westeros, e a Guerra dos Cinco Reis parece finalmente entrar na reta final. Stannis Baratheon se instala no Norte e jura conquistar o apoio dos senhores da região para continuar sua luta pelo trono, embora seja atrapalhado pela invasão de homens de ferro em grande parte da costa.
        Na Muralha, Jon Snow é eleito o 998º Senhor Comandante da Patrulha da Noite, mas inimigos o cercam de todos os lados, tanto na Patrulha quanto para além da Muralha. Enquanto isso, Tyrion Lannister atravessa o Mar Estreito rumo a Pentos, sem objetivos definidos, sem aliados e cada vez mais sem opções.
        Na Baía dos Escravos, Daenerys Targaryen conquista a cidade de Meereen e decide ficar e governá-la, praticando as habilidades de liderança que serão tão necessárias quando partir para Westeros. No entanto, sua presença já foi notada por muitos senhores nos Sete Reinos, e das Ilhas de Ferro e de Dorne, de Vilavelha e das Cidades Livres, emissários estão a caminho, querendo se unir à sua causa e, se possível, usá-la para os próprios fins.
        Em todos os cantos conflitos ganham vida e traições vêm daqueles mais próximos. Guerreiros, selvagens, nobres e escravos – todos têm pela frente um longo inverno, enquanto destino, ambição e política ditam o ritmo da dança mais perigosa de todas.</p>

        <h4 class="py-4">Mais Informações </h4>
        <p>Editora: Leya <br>
        Edição: 1ª edição (25 março 2020)<br>
        Idioma:  Português<br>
        Páginas:  824 páginas<br>
        Capa: Dura <br>
        Dimensões: 22.86 x 16 x 4.06 cm</p>
</div>