<section>
  <!--Filtro de pesquisa-->
  <div class="d-flex justify-content-end pt-5">
    <div class="col-md-3">
      <select id="ordenarPor" class="form-select">
        <option disabled selected>Ordenar por</option>
        <option>Todos</option>
        <option>Data de lançamento</option>
        <option>Maior preço</option>
        <option>Menor preço</option>
      </select>
    </div>
  </div>

  <main class="p-5">
    <!--Cards-->
    <div class="row d-flex justify-content-around">


      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/a-guerra-dos-tronos-livro-1.jpg"
            alt="A guerra dos tronos (AS CRONICAS DE GELO E FOGO) - GEORGGE R.R. MARTIN" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A GUERRA DOS TRONOS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/a-furia-dos-reis-livro-2.webp"
            alt="A Fúria dos Reis (AS CRONICAS DE GELO E FOGO) - GEORGGE R.R. MARTIN" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A FÚRIA DOS REIS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$69,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/a-tormenta-das-espadas-livro-3.webp"
            alt="A tormenta das espadas (AS CRONICAS DE GELO E FOGO) - GEORGGE R.R. MARTIN" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A TORMENTA DAS ESPADAS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/o festim dos corvos livro 4.webp"
            alt="O FESTIM DOS CORVOS (AS CRONICAS DE GELO E FOGO) - GEORGGE R.R. MARTIN" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>O FESTIM DOS CORVOS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="./assets/img/a-danca-dos-dragoes-livro5.webp"
            alt="A dança dos dragões (AS CRONICAS DE GELO E FOGO) - GEORGGE R.R. MARTIN" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A DANÇA DOS DRAGÕES</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/harrypotterpedrafilosofal.jpg"
            alt="Harry Potter e a pedra filosofal J.K. Rowling" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E A PEDRA FILOSOFAL</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/harrypottereacamarasecreta.jpg"
            alt="Harry Potter e a camara secreta J.K. Rowling" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E A CAMARA SECRETA</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/harrypottereoprisioneirodeaskaban.jpg"
            alt="Harry Potter e o prisioneiro de azkaban J.K. Rowling" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E O PRISIONEIRO DE AZKABAN</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/hp-calicedefogo.jpg" alt="Harry Potter e o cálice de fogo J.K. Rowling"
            class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E O CÁLICE DE FOGO</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/hp-ordemdafenix.jpg" alt="Harry Potter e a ordem da fenix J.K. Rowling"
            class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E A ORDEM DA FENIX</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/hp-enigmadoprincipe.jpg"
            alt="Harry Potter e o enigma do príncipe J.K. Rowling" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E O ENIGMA DO PRÍNCIPE</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/hp-reliquiasdamorte.jpg"
            alt="Harry Potter e as relíquias da morte J.K. Rowling" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>HARRY POTTER E AS RELÍQUIAS DA MORTE</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/pj-osolimpianos-ladraoderaios.jpg"
            alt="O ladrão de raios (Percy Jackson e os Olimpianos Livro 1)" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>O LADRÃO DE RAIOS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/pj-osolimpianos-mardemonstros.jpg"
            alt="O mar de monstros (Percy Jackson e os Olimpianos Livro 1)" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>O MAR DE MONSTROS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/pj-osolimpianos-maldicaodotita.jpg"
            alt="A maldição do titã (Percy Jackson e os Olimpianos Livro 1)" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A MALDIÇÃO DO TITÃ</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/pj-osolimpianos-batalhanolabirinto.jpg"
            alt="A batalha no labirinto (Percy Jackson e os Olimpianos Livro 1)" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A BATALHA NO LABIRINTO</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/pj-osolimpianos-oultimoolimpianno.jpg"
            alt="O ÚLTIMO OLIMPIANO (Percy Jackson e os Olimpianos Livro 1)" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>O ÚLTIMO OLIMPIANO</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/a-ilha-perdida.jpg" alt="A ilha perdida" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A ILHA PERDIDA</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/código-da-vinci-dan-brown.jpg" alt="Código da vinci dan brown"
            class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>O CÓDIGO DA VINCI</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/a-chave-se-sarah.jpg" alt="A chave de sarah" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A CHAVE DE SARAH</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/olhe-outravez.jpg" alt="olhe outra vez " class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>OLHE OUTRA VEZ</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/jogos-vorazes.jpg" alt="Jogos vorazes" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>JOGOS VORAZES</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/em-chamas.jpg" alt="Em chamas" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>EM CHAMAS</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/a-esperança.jpg" alt="A esperança" class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>A ESPERANÇA</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
      <!--card-->
      <div class="card cartao border-0 espaco">
        <a href="#">
          <img src="../../../../assets/img/o diário de anne frank.jpg" alt="O diário de Anne frank"
            class="card-img-top">
        </a>
        <div class="my-2">
          <div class="d-flex justify-content-around">
            <a href="#" class="badge bg-success filtro-badge">Coleções</a>
            <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
          </div>
        </div>
        <div class="py-3">
          <div class="small d-flex justify-content-center">
            <small>O DIÁRIO DE ANNE FRANK</small>
          </div>
          <div class="d-flex justify-content-center">
            <p><small><em><del class="del">R$59,90</del></em></small>
              <strong>R$ 49,90</strong></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mb-3">
          <input type="number" class="form-control tam-qtd-item comprar-qtd" id="qtdItem" value="1">
          <a href="#" class="btn btn-danger comprar-qtd">Comprar</a>
        </div>
      </div>
      <!--fim card-->
    </div>



    <hr class="mt-3">
    <div class="row pb-4">
      <div class="col-12">

        <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
              <a href="#"><img src="../../../../assets/img/prev.png" /></a>
              <button type="button" class="btn btn-outline-secondary">1</button>
              <button type="button" class="btn btn-outline-secondary">2</button>
              <button type="button" class="btn btn-outline-secondary">3</button>
              <button type="button" class="btn btn-outline-secondary">4</button>
            </div>
            <a href="#"><img src="../../../../assets/img/next.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
