.fs-54{
    font-size: 54pt;
  }
  
  .fs-18{
    font-size: 18pt;
  }

  #novoLivro{
    margin-left: 15px;
    margin-right: 15px;
  }

  .mr-5{
    margin-right: 5px;
  }
  
  .fa {
    color: black;
  }