h6 {
  margin: 1%;
  padding: 1%;
}

.page-footer {
  background-color: #212529;
  flex: none;
  max-width: 100%;
}

ul.links li {
  display: list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 2rem;
  align-items: center;
}

ul.books-tips-themes li {
  display: list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 2rem;
}

ul.safe-website {
  margin-top: 15%;
  align-items: center;
}

ul.safe-website li {
  display: inline-block;
  padding: 1%;
  margin-bottom: 0;
}

.social-network-icons {
  margin-top: 15%;
  align-items: center;
}

.social-network-icon img {
  transition: opacity;
  height: 2.5rem;
  padding: 2.5px;
  justify-content: center;
}

.footer-copyright {
  margin: 0.5%;
  padding: 0.5%;
}

a {
  text-decoration: none;
  color: #000;
}

.blue-heart {
  height: 1.2rem;

}

ul.developed-by li {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

ul.developed-by img {
  transition: opacity;
  height: 1.2rem;
  padding: 1px;
  padding-left: 5px;
  justify-content: center;
}

.cor {
  background-color: #d0d0d0;
}

ul li {
  list-style: none;
}

.corr {
  color: #7E7E7E;
}

.justify {
  text-align: justify;
}

@media (max-width: 900px) {
  .tam-pagmto {
    width: auto;
    height: 60px;
  }

  .tam-ssl {
    width: auto;
    height: 90px;
  }

  .tam-h5 {
    font-size: medium;
  }

  .tam-p {
    font-size: small;
  }

  .tam-rele {
    width: auto;
    height: 50px;
  }

  .tam-icon {
    width: auto;
    height: 35px !important;
  }

  .tam-i {
    width: auto;
    height: 50px;
  }
}

@media (max-width: 420px) {
  .tam-pagmto {
    width: auto;
    height: 30px;
  }

  .tam-ssl {
    width: auto;
    height: 50px;
  }

  .tam-h5 {
    font-size: medium;
  }

  .tam-p {
    font-size: small;
  }

  .tam-rele {
    width: auto;
    height: 30px;
  }

  .none {
    display: none;
  }

  .tam-icon {
    width: auto;
    height: 25px !important;
  }

  .tam-i {
    width: auto;
    height: 40px;
  }
}