<footer>
    <div class="container-fluid page-footer font-small cor py-2">
        <div class="d-flex justify-content-around ">
            <div class="d-flex align-items-center">
                <div>
                    <img class="pe-2" src="../../../../assets/img/caminhao-de-entrega (2).png" />
                </div>
                <div>
                    <div class="corr">Entrega</div>
                    <div class="small corr">Enviamos para todo o Brasil</div>
                </div>
            </div>

            <!-- Coluna do Site Seguro -->
            <div class="d-flex align-items-center">
                <div>
                    <img src="../../../../assets/img/troca.png" />
                </div>
                <div>
                    <div class="corr">Troca de Produtos</div>
                    <div class="small corr">Fale conosco</div>
                </div>
            </div>

            <!-- Coluna de Dicas de Livros -->
            <div class="d-flex align-items-center">
                <div>
                    <img class="pe-2" src="../../../../assets/img/cartao-do-banco.png" />
                </div>
                <div>
                    <div class="corr">Até 12x nos cartões</div>
                    <div class="small corr">Parcele suas compras</div>
                </div>
            </div>

            <!-- Redes Sociais -->
            <div class="d-flex align-items-center">
                <div>
                    <img class="pe-2" src="../../../../assets/img/codigo-de-barras.png" />
                </div>
                <div>
                    <div class="corr">Boleto</div>
                    <div class="small corr">Compras no boleto</div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-black">
        <div class="d-flex justify-content-around ">
            <div class="mt-2">
                <ul>
                    <li class="h5">
                        <a class="text-light">Informções</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Sobre nós</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Política de Privacidade</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Política de Troca</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Política de Entrega</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Política de Pagamento</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Fale Conosco</a>
                    </li>
                </ul>
            </div>
            <!-- Coluna do Site Seguro -->
            <div class="text-light mt-2">
                <ul>
                    <li class="h5">
                        <a class="text-light">Conta</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Minha conta</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Pedidos e Devoluções</a>
                    </li>
                </ul>

            </div>
            <!-- Coluna de Dicas de Livros -->
            <div class="text-start text-light mt-2">
                <ul>
                    <li class="h5">
                        <a class="text-light">Links Rápidos</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Lançamentos</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Ofertas</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Infantis</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Mais vendidos</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Literatura Nacional</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Didáticos</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Autoajuda</a>
                    </li>
                    <li>
                        <a class="tips-link text-light" routerLink="">Coleções</a>
                    </li>
                </ul>
            </div>

            <!-- Redes Sociais -->
            <div class="social-network text-light text-center mt-2">
                <ul>
                    <li class="h5">
                        <a class="text-light">Redes Sociais</a>
                    </li>
                    <li>
                        <div class="social-network-icons">
                            <a href="" target="_blank" class="social-network-icon">
                                <img src="../../../../assets/img/facebook.png" alt="Facebook do Releia-me">
                            </a>

                            <a href="" target="_blank" class="social-network-icon">
                                <img src="../../../../assets/img/instagram.png" alt="Instagram do Releia-me">
                            </a>

                            <a href="" target="_blank" class="social-network-icon">
                                <img src="../../../../assets/img/twitter.png" alt="Twitter do Releia-me">
                            </a>

                            <a href="" target="_blank" class="social-network-icon">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Releia-me">
                            </a>

                            <a href="https://github.com/ProjetoIntegrador-DH" target="_blank"
                                class="social-network-icon">
                                <img src="../../../../assets/img/github.png" alt="Github do Releia-me">
                            </a>

                            <a href="https://github.com/ProjetoIntegrador-DH" target="_blank"
                                class="social-network-icon">
                                <img src="../../../../assets/img/youtube.png" alt="Youtube do Releia-me">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-black d-flex align-items-center d-flex justify-content-between">

        <div class="text-start text-light ms-3">
            <h5 class="mb-3">Gateways e formas de pagamento</h5>
            <img src="../../../../assets/img/formas.png" />
        </div>


        <div class="text-end text-light me-3">
            <h5>Selos e certificações</h5>
            <img src="../../../../assets/img/site-seguro.png" />
        </div>
    </div>

    <!-- Barra Final do Footer -->
    <div class="footer-last-bar bg-light">
        <div class="footer-copyright d-flex align-items-center justify-content-between">
            <div class="me-2">
                <img src="../../../../assets/img/logo_teste.png" />
            </div>
            <div>
                <small>Todos os direitos reservados. © 2022 Copyright: <a target="_blank"
                        href="https://github.com/ProjetoIntegrador-DH/ProjetoIntegrador">Releia.me</a></small>
            </div>
            <div>
                <small>Plataforma <a href="" data-bs-toggle="modal" data-bs-target="#modalDevs"><img
                            src="../../../../assets/img/grupo.png" /></a></small>
            </div>
        </div>
    </div>
</footer>


<!--Modal-->
<div class="modal" id="modalDevs" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Desenvolvido com <img class="blue-heart" src="../../../../assets/img/blue-heart.jpg"
                        alt="Coração Azul"> pelo grupo6</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Início da Seção Devs -->
                <div class="developed-by col-md-12 col-lg-12 col-xl-12 mx-auto text-dark">
                    <ul class="developed-by  text-center">
                        <li>
                            <p>Aline Gabriela Tiburcio</p>
                            <a href="https://www.linkedin.com/in/alinetiburcio" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Aline">
                            </a>
                            <a href="https://github.com/AlinneTiburcio" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github da Aline">
                            </a>
                        </li>
                        <li>
                            <p>Ana Paula Menici</p>
                            <a href="https://www.linkedin.com/in/anamenici" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Ana">
                            </a>
                            <a href="https://github.com/anamenici" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github da Ana">
                            </a>
                        </li>

                        <li>
                            <p>Aneska Karina Souza Da Silva</p>
                            <a href="https://www.linkedin.com/in/aneska" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Aneska">
                            </a>
                            <a href="https://github.com/aneskak" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github da Aneska">
                            </a>
                        </li>

                        <li>
                            <p>Carlos Roberto De Oliveira Junior</p>
                            <a href="https://www.linkedin.com/in/karlinhos987" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Carlos Roberto">
                            </a>
                            <a href="https://github.com/karlinhos987" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github do Carlos Roberto">
                            </a>
                        </li>

                        <li>
                            <p>João Victor Almeida Da Conceição</p>
                            <a href="https://www.linkedin.com/in/joaow-victor" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin do João Victor">
                            </a>
                            <a href="https://github.com/joaow12" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github do João Victor">
                            </a>
                        </li>

                        <li>
                            <p>Rejane da Silva Santos</p>
                            <a href="https://www.linkedin.com/in/rejane-ssantos" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Rejane">
                            </a>
                            <a href="https://github.com/ssrejane" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github da Rejane">
                            </a>
                        </li>

                        <li>
                            <p>Wesley Zanelatto</p>
                            <a href="https://www.linkedin.com/in/wesley-zanelatto-53862628" target="_blank"
                                class="icone-linkedin">
                                <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Wesley">
                            </a>
                            <a href="https://github.com/WesleyZanelatto" target="_blank" class="icone-linkedin">
                                <img src="../../../../assets/img/github.png" alt="Github do Weslley">
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Fim da Seção Devs-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> Scrolling -->