<div class="container-fluid">
    <!--aqui a casinha apontando para qual livro está mostrando os detalhes -->
    <a href="#"><i class="fa fa-home my-3"></i></a>
    <i class="fa fa-angle-right mx-2"></i>
    <small>O FESTIM DOS CORVOS</small>
    <div class="row ms-4">
        <div class="col-md-6 my-3 border d-flex justify-content-center"><img
                src="../../../../assets/img/o festim dos corvos livro 4.webp" /></div>

        <!--livro e compra-->
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h4>O FESTIM DOS CORVO - AS CRÔNICAS DE GELO E FOGO</h4>
                    <p>Código: 6985398524771_1</p>
                    <!--filtros coloridos indicando a qual categoria pertence um livro-->
                    <a href="#" class="badge bg-success filtro-badge mx-1">Coleções</a>
                    <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
                    <div class="my-4">
                        <h4><em><small><del class="del">R$59,90</del></small></em><strong>R$ 49,50</strong>
                        </h4>
                        <p>Em até 10x de R$ 4,95 sem juros</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <input type="number" class="form-control tam-qtd-item" id="qtdItem" value="1">
                        <a href="#" class="btn btn-danger comprar-qtd mx-3">Comprar</a>
                    </div>
                    <div class="d-flex pt-4 frete">
                        <img class="caminhao" src="../../../../assets/img/caminhao-de-entrega.png" />
                        <h3 class="mx-2">
                            Calcular Frete</h3>
                    </div>
                    <div class="input d-flex">
                        <input type="text" class="form-control tamanho_input_cep" placeholder="00000-000"
                            aria-label="cepConsulta" aria-describedby="button-addon2">
                        <button class="btn btn-outline-dark ms-2" type="button" id="cepConsulta">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Descrição e detalhes-->
<div class="container pt-3">
    <h2>Descrição</h2>
    <p>Há séculos os sete grandes reinos de Westeros se enfrentam em amargas disputas, batalhas e traições. Agora, com Joffrey Baratheon e Robb Stark fora da jogada e lordes insignificantes competindo pelas Ilhas de Ferro, a guerra que devorou o continente parece ter finalmente chegado ao fim.
        No entanto, como após todo grande conflito, não demora para que os sobreviventes, os bandidos, os renegados e os carniceiros avancem para disputar o espólio dos mortos. Por toda Westeros os lordes se agitam, formando alianças e fazendo planos, enquanto nomes conhecidos e desconhecidos se apresentam para tomar parte das danças políticas.
        Todos precisam lançar mão de suas habilidades e poderes para encarar os tempos de terror que se aproximam. Nobres e plebeus, soldados e feiticeiros, assassinos e saqueadores devem arriscar suas fortunas... e suas vidas, pois em um festim de corvos, muitos são os convidados ― e poucos os sobreviventes.</p>

        <h4 class="py-4">Mais Informações </h4>
        <p>Editora: Leya <br>
        Edição: 1ª edição (20 setembro 2019)<br>
        Idioma: Português<br>
        Páginas: 608 páginasB<br>
        Capa: Dura <br>
        Dimensões: 23 x 15.8 x 3.8 cm</p>
</div>