.ta {
    width: 100%;
    height: 500px;
}

@media (max-width: 420px) {
    .ta {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 900px) {
    .ta {
        width: 100%;
        height: 400px;
    }
}