<div id="carouselindicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselindicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselindicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselindicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselindicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/img/ezgif.com-gif-maker.gif" data-interval="100" class="ta d-block w-100" alt="GIF dos mais vendidos">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/salepretobranco.png" data-interval="200" class="ta d-block w-100" alt="Promoção de 50% de desconto">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/DoamosRedim2.png" data-interval="200" class="ta d-block w-100" alt="Doamos 100% do lucro">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/50desconto.png" data-interval="200" class="ta d-block w-100" alt="50% de desconto">
      </div>
    </div>

  </div>