<!--header 1 (opções de navegação)-->
<header class="navbar color-header bg-dark">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Meus Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" data-bs-toggle="modal" data-bs-target="#fale-conosco" href="#">Fale Conosco</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Sair <i class="fa fa-sign-out"></i></a>
      </li>
    </ul>
  </header>
  
  <!--header2 (logo, barra de pesquisa, opções de navegação e carrinho )-->
  
  <nav class="navbar navbar-expand-lg d-flex justify-content-between color">
    <!--logo-->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <div class="nav-link">
          <img src="assets/img/logo.png" />
        </div>
      </li>
    </ul>
    <!--barra de pesquisa-->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <div class="nav-link">
          <div class="input-group">
            <input type="text" class="form-control wid" id="barraDePesquisa" placeholder="        Pesquise aqui seu livro"
              aria-label="true">
            <button class="btn btn-outline-light" type="button" id="button-addon2"><i class="fa fa-search"
                style="margin: 0 2px;"></i></button>
          </div>
        </div>
      </li>
    </ul>
    <!--menu e carrinho-->
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <div class="collapse navbar-collapse nav-link" id="collapsibleNavbar">
          <img src="assets/img/user32.png">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Minha Conta
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Sair</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Minha Conta</a></li>
                <li><a class="dropdown-item" href="#">Meus Pedidos</a></li>
                <li><a class="dropdown-item" href="#">Trocar ou Devolver</a></li>
              </ul>
            </li>
            <a href="#" class="carrinho"><img src="assets/img/carrinho.png"></a>
          </ul>
        </div>
    </ul>
  </nav>
  
  <!--header3 (mais opções de navegação)-->
  <nav class="navbar navbar-expand-sm color justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Lançamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Ofertas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Infantis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Mais vendidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Literatura Nacional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Didáticos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Autoajuda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Direito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Medicina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Administração</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Coleções</a>
      </li>
    </ul>
  </nav>
  