<!-- <app-header-inicio-log ngIf="auth.logado()"></app-header-inicio-log> -->
<app-header-inicio-deslog></app-header-inicio-deslog>
<app-cadastro></app-cadastro>
<app-login></app-login>
<app-carrinho></app-carrinho>
<app-rodape></app-rodape>                                                                                                            
<app-header></app-header>


<app-fale-conosco></app-fale-conosco> 
<app-login></app-login>
<app-cadastro></app-cadastro>


<router-outlet></router-outlet>
<app-rodape></app-rodape>
