#barraDePesquisa::placeholder {
    background-image: url('../img/livros.png');
    background-repeat: no-repeat;
}
.color{
    background-color: #000;
}
.wid {
    width: 80vh!important;
}

.tamanho {
    height: 500px;
}
body, .color-header {
    background-color:#0a0a0a;
}