<!-- Modal fazer cadastro -->
<div class="modal" id="modalCadastro">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cadastre-se</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <form class="row p-4 g-3 needs-validation" novalidate>
        <div class="col-12">
          <label for="nomeCompleto" class="form-label">Nome Completo</label>
          <input [(ngModel)]="cliente.nome" type="text" class="form-control" id="nomeCompleto" placeholder="Maria da Silva" required>
          <div class="invalid-feedback">
            Por favor, preencha seu nome completo.
          </div>
        </div>
        <div class="col-12">
          <label for="emailCadastro" class="form-label">Email</label>
          <input [(ngModel)]="cliente.email" type="text" class="form-control" id="emailCadastro" placeholder="maria@mail.com" required>
          <div class="invalid-feedback">
            Por favor, preencha seu email para continuar.
          </div>
        </div>
        <div class="col-md-6">
          <label for="passwordCadastro" class="form-label">Senha</label>
          <input [(ngModel)]="cliente.senha" type="password" class="form-control" placeholder="Senha@123" id="passwordCadastro" required>
          <div class="invalid-feedback">
            Por favor, escolha uma senha com no mínimo 6 dígitos para continuar.
          </div>
        </div>
        <div class="col-md-6">
          <label for="dataNasc" class="form-label">Data de Nascimento</label>
          <input [(ngModel)]="cliente.dataNascimento" type="date" class="form-control" id="dataNasc" required>
          <div class="invalid-feedback">
            Por favor, preencha sua data de nascimento para continuar.
          </div>
        </div>

        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Desejo receber emails promocionais e informativos da Releia.me
            </label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" required>
            <label class="form-check-label" for="gridCheck">
              Concordo com os termos e condições de uso.
              <div class="invalid-feedback">
                Você deve concordar, antes de continuar.
              </div>
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Criar Cadastro</button>
          <br><br>
          <p> Já é cadastrado? <a class="text-dark" data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Acesse
              sua conta.</a></p>
        </div>
      </form>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>