<footer class="page-footer font-small text-center align-items-center bg-light pt-2">

  <div class="container-fluid">
    <div class="row g-4">

      <!-- Coluna dos Links -->
      <div class="links col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Links</h6>
        <ul class="links">
          <li>
            <a class="links" href="#">Lançamentos</a>
          </li>
          <li>
            <a routerLink="/devs" data-bs-toggle="modal" data-bs-target="#modalDevs">Equipe Desenvolvedora</a>
          </li>
        </ul>

      </div>
      <!-- Coluna do Site Seguro -->
      <div class="safe-website col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Site Seguro</h6>
        <ul class="safe-website">
          <li>
            <img src="../../../../assets/img/verificado.png" alt="Verified Site">
          </li>

          <li>
            <img src="../../../../assets/img/trustsign.png" alt="Trust Sign">
          </li>

          <li>
            <img src="../../../../assets/img/internetsegura.png" alt="Internet Segura">
          </li>

          <li>
            <img src="../../../../assets/img/logo-ebit-ouro.png" alt="E-bit Ouro">
          </li>

          <li>
            <img src="../../../../assets/img/logo-premio-ebit-2019.png" alt="Prêmio E-bit">
          </li>
        </ul>
      </div>
      <!-- Coluna de Dicas de Livros -->
      <div class="books-tips col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Dicas de Livros</h6>
        <ul class="books-tips-themes text-center">
          <li>
            <a class="tips-link" href="#">Lançamentos</a>
          </li>
          <li>
            <a class="tips-link" href="#">Ofertas</a>
          </li>
          <li>
            <a class="tips-link" href="#">Infantis</a>
          </li>
          <li>
            <a class="tips-link" href="#">Mais vendidos</a>
          </li>
          <li>
            <a class="tips-link" href="#">Literatura Nacional</a>
          </li>
          <li>
            <a class="tips-link" href="#">Didáticos</a>
          </li>
          <li>
            <a class="tips-link" href="#">Autoajuda</a>
          </li>
          <li>
            <a class="tips-link" href="#">Direito</a>
          </li>
          <li>
            <a class="tips-link" href="#">Medicina</a>
          </li>
          <li>
            <a class="tips-link" href="#">Administração</a>
          </li>
          <li>
            <a class="tips-link" href="#">Coleções</a>
          </li>
        </ul>
      </div>

      <!-- Redes Sociais -->
      <div class="social-network col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Redes Sociais</h6>

        <div class="social-network-icons">
          <a href="" target="_blank" class="social-network-icon">
            <img src="../../../../assets/img/facebook.png" alt="Facebook do Releia-me">
          </a>

          <a href="" target="_blank" class="social-network-icon">
            <img src="../../../../assets/img/instagram.png" alt="Instagram do Releia-me">
          </a>

          <a href="" target="_blank" class="social-network-icon">
            <img src="../../../../assets/img/twitter.png" alt="Twitter do Releia-me">
          </a>

          <a href="" target="_blank" class="social-network-icon">
            <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Releia-me">
          </a>

          <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="social-network-icon">
            <img src="../../../../assets/img/github.png" alt="Github do Releia-me">
          </a>

          <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="social-network-icon">
            <img src="../../../../assets/img/youtube.png" alt="Youtube do Releia-me">
          </a>
        </div>
      </div>
    </div>

  </div>



  <!-- Barra Final do Footer -->
  <div class="footer-last-bar bg-dark text-center py-3">
    <div class="footer-copyright">
      <span class="text-light"> © 2022 Copyright: </span>
      <a class="text-light" target="_blank" href="">Releia.me</a>
    </div>
  </div>


</footer>