h6 {
  margin: 1%;
  padding: 1%;
}

.page-footer {
  background-color: #212529;
  flex: none;
  max-width: 100%;
}

ul.links li {
  display: list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 2rem;
  align-items: center;
}

ul.books-tips-themes li {
  display: list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 2rem;
}

ul.safe-website {
  margin-top: 15%;
  align-items: center;
}

ul.safe-website li {
  display: inline-block;
  padding: 1%;
  margin-bottom: 0;
}

.social-network-icons {
  margin-top: 15%;
  align-items: center;
}

.social-network-icon img {
  transition: opacity;
  height: 2.5rem;
  padding: 2.5px;
  justify-content: center;
}

.footer-copyright {
  margin: 0.5%;
  padding: 0.5%;
}