<footer class="page-footer font-small bg-light pt-2">

  <div class="container-fluid">
    <div class="row g-4">
      <!-- Coluna Pessoas Desenvolvedoras -->
      <div class="developed-by col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center mb-3">Desenvolvido com <img class="blue-heart"
            src="../../../../assets/img/blue-heart.jpg" alt="Coração Azul"> pela Equipe 06</h6>
        <ul class="developed-by">
          <li>
            <p>Aline Gabriela Tiburcio</p>
            <a href="https://www.linkedin.com/in/alinetiburcio" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Aline">
            </a>
            <a href="https://github.com/AlinneTiburcio" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github da Aline">
            </a>
          </li>

          <li>
            <p>Ana Paula Menici</p>
            <a href="https://www.linkedin.com/in/anamenici" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Ana">
            </a>
            <a href="https://github.com/anamenici" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github da Ana">
            </a>
          </li>

          <li>
            <p>Aneska Karina Souza Da Silva</p>
            <a href="https://www.linkedin.com/in/aneska" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Aneska">
            </a>
            <a href="https://github.com/aneskak" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github da Aneska">
            </a>
          </li>

          <li>
            <p>Carlos Roberto De Oliveira Junior</p>
            <a href="https://www.linkedin.com/in/karlinhos987" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Carlos Roberto">
            </a>
            <a href="https://github.com/karlinhos987" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github do Carlos Roberto">
            </a>
          </li>

          <li>
            <p>João Victor Almeida Da Conceição</p>
            <a href="https://www.linkedin.com/in/joaow-victor" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin do João Victor">
            </a>
            <a href="https://github.com/joaow12" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github do João Victor">
            </a>
          </li>

          <li>
            <p>Rejane da Silva Santos</p>
            <a href="https://www.linkedin.com/in/rejane-ssantos" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin da Rejane">
            </a>
            <a href="https://github.com/ssrejane" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github da Rejane">
            </a>
          </li>

          <li>
            <p>Wesley Zanelatto</p>
            <a href="https://www.linkedin.com/in/wesley-zanelatto-53862628" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Wesley">
            </a>
            <a href="https://github.com/WesleyZanelatto" target="_blank" class="icone-linkedin">
              <img src="../../../../assets/img/github.png" alt="Github do Weslley">
            </a>
          </li>
        </ul>
      </div>
      <!-- Coluna dos Links -->
      <div class="links col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center mb-3">Links</h6>
      </div>
      <!-- Coluna do Site Seguro -->
      <div class="safe-website col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center mb-3">Site Seguro</h6>
        <ul class="safe-website">
          <li>
            <img src="../../../../assets/img/verificado.png" alt="Verified Site">
          </li>

          <li>
            <img src="../../../../assets/img/trustsign.png" alt="Trust Sign">
          </li>

          <li>
            <img src="../../../../assets/img/internetsegura.png" alt="Internet Segura">
          </li>

          <li>
            <img src="../../../../assets/img/logo-ebit-ouro.png" alt="E-bit Ouro">
          </li>

          <li>
            <img src="../../../../assets/img/logo-premio-ebit-2019.png" alt="Prêmio E-bit">
          </li>
        </ul>
      </div>
      <!-- Coluna de Dica de Livros -->
      <div class="books-tips col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center mb-3">Dicas de Livros</h6>
      </div>

    </div>
  </div>


  <!-- Barra Final do Footer -->
  <div class="footer-last-bar bg-dark text-center py-3">
    <!-- Redes Sociais -->
    <div class="footer-social-network col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
      <div class="icone-footer d-flex justify-content-center mb-3">

        <a href="" target="_blank" class="icone-facebook">
          <img src="../../../../assets/img/facebook.png" alt="Facebook do Releia-me">
        </a>

        <a href="" target="_blank" class="icone-instagram">
          <img src="../../../../assets/img/instagram.png" alt="Instagram do Releia-me">
        </a>

        <a href="" target="_blank" class="icone-twitter">
          <img src="../../../../assets/img/twitter.png" alt="Twitter do Releia-me">
        </a>

        <a href="" target="_blank" class="icone-linkedin">
          <img src="../../../../assets/img/linkedin.png" alt="Linkedin do Releia-me">
        </a>

        <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="icone-github">
          <img src="../../../../assets/img/github.png" alt="Github do Releia-me">
        </a>

        <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="icone-youtube">
          <img src="../../../../assets/img/youtube.png" alt="Youtube do Releia-me">
        </a>

      </div>
    </div>
    <div class="footer-copyright">
      <span class="text-light"> © 2022 Copyright: </span>
      <a class="text-light" target="_blank" href="">Releia.me</a>
    </div>
  </div>

</footer>