<footer class="page-footer font-small bg-light pt-2">

  <div class="container-fluid">
    <div class="row g-4">

      <div class="social-network col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Redes Sociais</h6>
        <div class="icone-footer">

          <a href="" target="_blank" class="icone-facebook">
            <img src="../../../../assets/img/facebook.png" alt="Facebook">
          </a>

          <a href="" target="_blank" class="icone-instagram">
            <img src="../../../../assets/img/instagram.png" alt="Instagram">
          </a>

          <a href="" target="_blank" class="icone-twitter">
            <img src="../../../../assets/img/twitter.png" alt="Twitter">
          </a>

          <a href="" target="_blank" class="icone-linkedin">
            <img src="../../../../assets/img/linkedin.png" alt="Linkedin">
          </a>

          <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="icone-github">
            <img src="../../../../assets/img/github.png" alt="Github">
          </a>

          <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="icone-youtube">
            <img src="../../../../assets/img/youtube.png" alt="Youtube">
          </a>

        </div>
      </div>

      <div class="safe-website col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Site Seguro</h6>
        <ul class="safe-website">
          <li>
            <img src="../../../../assets/img/verificado.png" alt="Verified Site">
          </li>

          <li>
            <img src="../../../../assets/img/trustsign.png" alt="Trust Sign">
          </li>

          <li>
            <img src="../../../../assets/img/internetsegura.png" alt="Internet Segura">
          </li>

          <li>
            <img src="../../../../assets/img/logo-ebit-ouro.png" alt="E-bit Ouro">
          </li>

          <li>
            <img src="../../../../assets/img/logo-premio-ebit-2019.png" alt="Prêmio E-bit">
          </li>
        </ul>
      </div>

      <div class="books-tips col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Dicas de Livros</h6>
      </div>

      <div class="links col-md-3 col-lg-3 col-xl-3 mx-auto text-dark">
        <h6 class="d-flex justify-content-center">Links</h6>
      </div>

    </div>
  </div>

  <!-- <div class="container safe-website col-md-4">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <h4 class="text-white">Site Seguro</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="safe-website">
          <li>
            <img src="" alt="">
          </li>

          <li>
            <img src="" alt="">
          </li>

          <li>
            <img src="" alt="">
          </li>

          <li>
            <img src="" alt="">
          </li>

          <li>
            <img src="" alt="">
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container social-network">

    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <h4 class="text-white">Redes Sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <a href="" target="_blank" class="icoFacebook" style="margin: 0 15px;">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="" target="_blank" class="icoInstagram" style="margin: 0 15px;">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="" target="_blank" class="icoTwitter" style="margin: 0 15px;">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="" target="_blank" class="icoLinkedin" style="margin: 0 15px;">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/ProjetoIntegrador-DH" target="_blank" class="icoGithub" style="margin: 0 15px;">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  
  <div class="container books-tips">

  </div> -->

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2022 Copyright: </span>
    <a class="text-light" target="_blank" href="">Releia.me</a>
  </div>

</footer>