h6 {
  margin: 1%;
  padding: 1%;
}

.page-footer {
  background-color: #212529;
  flex: none;
  max-width: 100%;
}

.icone-footer img {
  transition: opacity;
  height: 1.9rem;
  padding: 2.5px;
  justify-content: center;
}

ul.developed-by img {
  transition: opacity;
  height: 1.2rem;
  padding: 1px;
  padding-left: 5px;
  justify-content: center;
}

ul.developed-by li {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

ul.books-tips-themes li {
  display:list-item;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 2rem;
}

.blue-heart {
  height: 1.5rem;
  margin: 0.5%;
  padding: 0% 0.5% 1% 0.5%;
}

ul.safe-website li {
  display: inline-block;
  margin: 0;
  padding: 1%;
  margin-bottom: 0;
}

.footer-social-network {
  margin: 1%;
  padding: 1%;
}

.footer-copyright {
  margin: 0.5%;
  padding: 0.5%;
}