<!-- login Modal -->
<div class="modal" id="loginModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Colaborador, faça login para continuar</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <form class="needs-validation" novalidate>
          <div class="p-4">
            <div class="mb-3">
              <label for="funcionarioLogin" class="form-label">Matrícula</label>
              <input [(ngModel)]="funcionarioLogin.id_funcionarios" type="number" class="form-control" placeholder="número de matrícula" id="matriculaLogin"
                aria-describedby="matricula">
            </div>
            <div class="mb-3">
              <label for="passwordLogin" class="form-label">Senha</label>
              <input [(ngModel)]="funcionarioLogin.senha" type="password" placeholder="Senha@123" class="form-control" id="passwordLogin">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="checkConect">
              <label class="form-check-label" for="checkConect">Me manter conectado</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="entrarfunc()">Entrar</button>
            <br><br>
          </div>
        </form>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
