<div class="container">
  <!--aqui a casinha apontando para qual livro está mostrando os detalhes -->
  <a routerLink="/home"><i class="text-dark fa fa-home my-3"></i></a>
  <i class="fa fa-angle-right mx-2"></i>
  <small>Meus pedidos</small>
  <table class="table borda">
    <thead class="bg-black text-light">
      <tr>
        <th scope="col" class="tam-p">Data do Pedido</th>
        <th scope="col" class="tam-p">Pedido</th>
        <th scope="col" class="tam-p">Livros do Pedido</th>
        <th scope="col" class="tam-p">Valor</th>
        <th scope="col" class="tam-p">Tipo de pagamento</th>
        <th scope="col" class="tam-p">Situação do Pedido</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listaPedidos">
        <tr *ngIf="item.cliente.id_cliente == this.idCliente">
          <th scope="row">{{item.data | date:'dd/MM/yyyy'}}</th>
          <td>{{item.id_pedido}}</td>
          <td>
            <ng-container *ngFor="let i of item.livros">
              {{i.titulo}} /
            </ng-container>
          </td>
          <td>{{item.valorTotal | currency : 'BRL'}}</td>
          <td>{{item.tipo}}</td>
          <td class="bg-success text-light">PEDIDO FINALIZADO</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>