<!-- Modal fazer cadastro -->
<div class="modal" id="fale-conosco">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nova Mensagem</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <form class="row p-4 g-3 needs-validation" novalidate>
        <div class="col-12">
          <label for="nomeCompleto" class="form-label">Nome Completo</label>
          <input type="text" class="form-control" id="nomeCompleto" placeholder="Maria da Silva" required>
          <div class="invalid-feedback">
            Por favor, preencha seu nome completo.
          </div>
        </div>
        <div class="mb-3">
          <label for="email-fale-conosco" class="form-label">Email</label>
          <input type="email" class="form-control" id="email-fale-conosco" placeholder="maria@mail.com" required>
          <div class="invalid-feedback">
            Por favor, preencha seu endereço de email.
          </div>
        </div>
        <div class="mb-3">
          <label for="mensagem-fale-conosco" class="form-label">Mensagem:</label>
          <textarea class="form-control" id="mensagem-fale-conosco" placeholder="Escreva aqui sua mensagem, elogio, sujestão... Fique à vontade! :)" rows="4" required></textarea>
          <div class="invalid-feedback">
            Você deve escrever uma mensagem para enviar.
          </div>
        </div>


        <div class="col-12">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="mensagemEnviada()">Enviar mensagem</button>
        </div>
      </form>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>