<section>
    <!--Filtro de pesquisa-->
    <div class="d-flex justify-content-end pt-5">
        <div class="col-md-3">
            <select id="ordenarPor" class="form-select">
                <option disabled selected>Ordenar por</option>
                <option>Todos</option>
                <option>Data de lançamento</option>
                <option>Maior preço</option>
                <option>Menor preço</option>
            </select>
        </div>
    </div>
    <main class="p-5">
        <!--Cards-->
        <div class="row d-flex justify-content-around">
            <!--card-->
            <div class="card cartao border-0 espaco p-3" *ngFor="let item of listaLivros">
                <a [routerLink]="['/livro', item.id_livros]">
                    <img src="{{item.capa}}" alt="{{item.descricao}}" class="card-img-top">
                </a>
                <div class="my-2">
                    <div class="d-flex justify-content-around">
                        <a [routerLink]="['/busca-etiqueta', item.etiqueta.id_etiqueta]" name="etiquetaNum"
                            class="badge bg-success filtro-badge">{{item.etiqueta.nome}}</a>
                    </div>
                </div>
                <div class="py-3">
                    <div class="small d-flex justify-content-center">
                        <small>{{item.titulo}}</small>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p><small><em><del class="del">{{item.valorUnitario*2 | currency : 'BRL'}}</del></em></small>
                            <strong>{{item.valorUnitario | currency : 'BRL'}}</strong>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <p><small>Qtde. Estoque: <strong>{{item.qtdeEstoque}}</strong></small></p>
                </div>
            </div>
            <!--fim card-->
            <!--card-->
        </div>
        <hr class="mt-3">
        <div class="row pb-4">
            <div class="col-12">

                <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                    <div class="btn-toolbar justify-content-between" role="toolbar"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <a href="#"><img src="../../../../assets/img/prev.png" /></a>
                            <button type="button" class="btn btn-outline-secondary" routerLink="/home">1</button>
                            <button type="button" class="btn btn-outline-secondary">2</button>
                            <button type="button" class="btn btn-outline-secondary">3</button>
                            <button type="button" class="btn btn-outline-secondary">4</button>
                        </div>
                        <a href="#"><img src="../../../../assets/img/next.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>