<div class="container-fluid">
    <a href="#"><i class="fa fa-home my-3"></i></a>
    <i class="fa fa-angle-right mx-2"></i>
    <small>HARRY POTTER E A ORDEM FA FENIX</small>
    <div class="row ms-4">
        

        <div class="col-md-6 my-3 border d-flex justify-content-center"><img
                src="../../../../assets/img/hp-ordemdafenix.jpg" /></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h4>HARRY POTTER E A ORDEM DA FÊNIX</h4>
                    <p>Código: 9786558380771_1</p>


                    <a href="#" class="badge bg-success filtro-badge mx-1">Coleções</a>
                    <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>

                        <div class="my-4">
                            <h4><em><small><del class="del">R$59,90</del></small></em><strong>R$ 49,50</strong>
                            </h4>
                            <p>Em até 11x de R$ 5,16 com juros</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>