<div class="container">
    <!--menu-->
    <div class="nav justify-content-evenly h5 py-3 traco">
        <div class="nav-item">
            <ul class="nav-link text-center opacity-25 " aria-current="page" href="#">
                <a routerLink="#">
                    <li><img src="../../../../assets/img/carrinho_preto.png" /></li>
                    <li class="text-dark">Carrinho</li>
                </a>
            </ul>
        </div>
        <div class="nav-item text-center opacity-25">
            <ul class="nav-link text-dark">
                <li><img src="../../../../assets/img/caminhao-bau.png" /></li>
                <li>Entrega</li>
            </ul>
        </div>
        <div class="nav-item text-center carrinho">
            <ul class="nav-link text-dark">
                <li><img src="../../../../assets/img/conta.png" /></li>
                <li>Pagamento</li>
            </ul>
        </div>
    </div>
    <!--conteúdo-->
    <div class="d-flex justify-content-end">
        <button class="btn btn-success btn-lg" routerLink="/pagamento">Finalizar Pedido</button> <!--(click)="criarPedido()"-->
    </div>

</div>