<div class="container">
    <!--menu-->
    <div class="nav justify-content-evenly h5 py-3 traco">
        <div class="nav-item">
            <ul class="nav-link text-center opacity-25 " aria-current="page" href="#">
                <a routerLink="/carrinho">
                    <li><img src="../../../../assets/img/carrinho_preto.png" /></li>
                    <li class="text-dark">Carrinho</li>
                </a>
            </ul>
        </div>
        <div class="nav-item text-center carrinho">
            <ul class="nav-link text-dark">
                <li><img src="../../../../assets/img/caminhao-bau.png" /></li>
                <li>Entrega</li>
            </ul>
        </div>
        <div class="nav-item opacity-25 text-center">
            <ul class="nav-link text-dark">
                <li><img src="../../../../assets/img/conta.png" /></li>
                <li>Finalização</li>
            </ul>
        </div>
    </div>
    <!--conteúdo-->
    <div class="row g-3"></div>
    <div class="row g-3 mt-3 d-flex justify-content-around">
        <div class="col-md-5">
            <h4>Adicionar endereço</h4>
            <div class="row g-3">
                <div class="form-group">
                    <label for="titulo">Nome do endereço</label>
                    <input [(ngModel)]="endereco.nome_endereco" type="text" class="form-control" id="nome"
                        placeholder="Nome que você quer dar ao endereço" />
                </div>
                <div class="form-group col-10">
                    <label for="titulo">Rua</label>
                    <input [(ngModel)]="endereco.rua" type="text" class="form-control" id="rua"
                        placeholder="Digite a rua" />
                </div>
                <div class="form-group col-2">
                    <label for="titulo">Número</label>
                    <input [(ngModel)]="endereco.numero" type="number" class="form-control" id="numero"
                        placeholder="Digite o número" />
                </div>
                <div class="form-group col-6">
                    <label for="titulo">Complemento</label>
                    <input [(ngModel)]="endereco.complemento" type="text" class="form-control" id="complemento"
                        placeholder="Digite o complemento" />
                </div>
                <div class="form-group col-6">
                    <label for="texto">Bairro</label>
                    <input [(ngModel)]="endereco.bairro" type="text" class="form-control" id="bairro"
                        placeholder="Digite o bairro" />
                </div>
                <div class="form-group col-6">
                    <label for="titulo">Cidade</label>
                    <input [(ngModel)]="endereco.cidade" type="text" class="form-control" id="cidade"
                        placeholder="Digite a cidade" />
                </div>
                <div class="form-group col-6">
                    <label for="titulo">CEP</label>
                    <input [(ngModel)]="endereco.cep" type="text" class="form-control" id="cep"
                        placeholder="Digite o cep" />
                </div>

                <div>
                    <button class="btn btn-primary" (click)="adicionar()">Cadastrar</button>
                </div>
            </div>

        </div>
        <div class="col-md-5 ms-2">
            <h4>Meus Endereços</h4>
            <div class="col-md-6 ms-2">
                <ng-container *ngFor="let item of listaEndereco">
                    <div class="form-check py-2" *ngIf="item.cliente.id_cliente == idCliente">
                        <input class="form-check-input" type="radio" id="address" (click)='escolherEndereco($event)' value="{{item.id_endereco}}">
                        <h6>{{item.nome_endereco}}</h6>
                        <label class="form-check-label borda p-2" for="address">
                            <div>{{item.cliente.nome}}</div>
                            <div>{{item.rua}}, {{item.numero}}</div>
                            <div>{{item.complemento}}, {{item.bairro}}</div>
                            <div>{{item.cidade}} - SP - {{item.cep}}</div>
                            <div class="d-flex justify-content-end">
                                <button class="badge rounded-pill bg-danger border-0"
                                    (click)="apagar(item.id_endereco)">Delete</button>
                            </div>
                        </label>
                    </div>
                </ng-container>
            </div>
        </div>
        
        <div class="row g-3 mt-3 d-flex justify-content-around">

            <!--<div class="col-md-3">
            <label for="pagamento" class="form-label">Selecione a forma de pagamento:</label>
            <select id="pagamento" name="pagamento" class="form-control" (change)='tipoPagamento($event)'>
                <option value="Boleto">Boleto</option>
                <option value="Cartão de Crédito">Cartão de Crédito</option>
                <option value="Cartão de Débito">Cartão de Débito</option>
            </select>
            <div>
                <h3>Valor total: {{soma | currency:  'BRL'}}</h3>
            </div>
            <ng-container *ngIf="pagamento == 'credito'">
                <label for="dividir" class="form-label">Quantas vezes deseja dividir?</label>
                <select id="dividir" class="form-select" (change)='dividido($event)'>
                    <option value=1>1x de {{soma | currency:  'BRL'}} sem juros</option>
                    <option value=2>2x de {{soma/2 | currency:  'BRL'}} sem juros</option>
                    <option value=3>3x de {{soma/3 | currency:  'BRL'}} sem juros</option>
                    <option value=4>4x de {{soma/4 | currency:  'BRL'}} sem juros</option>
                    <option value=5>5x de {{soma/5 | currency:  'BRL'}} sem juros</option>
                </select>
            </ng-container>
        </div>-->
<!--
            <div class="col-md-6 ms-2">
                <h4>Selecione o endereço de entrega ou <a [routerLink]="['/endereco', idCliente]">cadastre um novo</a>
                </h4>-->


                <!--<div class="form-check py-2">
                <input class="form-check-input" type="radio" id="address">
                <h6>Trabalho</h6>
                <label class="form-check-label borda p-2" for="address">
                    <div>Maria da Silva</div>
                    <div>Rua Coronel Euclides Machado, 235</div>
                    <div>Ap 37 Torre 3, Jardim das Graças</div>
                    <div> São Paulo - SP - 02713-000</div>
                </label>
            </div>-->

            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-success btn-lg" (click)="pagamento()">Pagamento</button>
        </div>
</div>

<!--
    <div class="col-md-6"><h4>Cadastro de endereço</h4>
            <form class="row g-3">
                <div class="col-12">
                    <label for="tituloEndereco" class="form-label"><h6>Título</h6></label>
                    <input type="text" class="form-control" id="tituloEndereco" placeholder="Ex: Casa, Trabalho...">
                </div>
                <div class="col-md-12">
                    <label for="nomeEndereco" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" id="nomeEndereco" placeholder="Maria da Silva">
                </div>
                <div class="col-10">
                    <label for="logradouroEndereco" class="form-label">Logradouro</label>
                    <input type="text" class="form-control" id="logradouroEndereco" placeholder="Rua das Rosas">
                </div>
                <div class="col-2">
                    <label for="numeroEndereco" class="form-label">Número</label>
                    <input type="text" class="form-control" id="numeroEndereco" placeholder="123">
                </div>
                <div class="col-6">
                    <label for="complementoEndereco" class="form-label">Complemento</label>
                    <input type="text" class="form-control" id="complementoEndereco"
                        placeholder="Apartamento, Torre, Casa C">
                </div>
                <div class="col-md-6">
                    <label for="bairroEndereco" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="bairroEndereco" placeholder="Jardim das Flores">
                </div>
                <div class="col-md-5">
                    <label for="cidadeEndereco" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidadeEndereco" placeholder="São Paulo">
                </div>
                <div class="col-md-2">
                    <label for="estadoEndereco" class="form-label">Estado</label>
                    <select id="estadoEndereco" class="form-select">
                        <option selected>SP</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <label for="cepEndereco" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cepEndereco">
                </div>
                
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Cadastrar Endereço</button>
                </div>
            </form>
        </div>
-->
