<div class="container-fluid">
    <!--aqui a casinha apontando para qual livro está mostrando os detalhes -->
    <a href="#"><i class="fa fa-home my-3"></i></a>
    <i class="fa fa-angle-right mx-2"></i>
    <small>A TORMENTA DAS ESPADAS</small>
    <div class="row ms-4">
        <div class="col-md-6 my-3 border d-flex justify-content-center"><img
                src="../../../../assets/img/a-tormenta-das-espadas-livro-3.webp" /></div>

        <!--livro e compra-->
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h4>A TORMENTA DAS ESPADAS - AS CRÔNICAS DE GELO E FOGO</h4>
                    <p>Código: 6985398524771_1</p>
                    <!--filtros coloridos indicando a qual categoria pertence um livro-->
                    <a href="#" class="badge bg-success filtro-badge mx-1">Coleções</a>
                    <a href="#" class="badge bg-primary filtro-badge">Mais Vendidos</a>
                    <div class="my-4">
                        <h4><em><small><del class="del">R$59,90</del></small></em><strong>R$ 49,50</strong>
                        </h4>
                        <p>Em até 10x de R$ 4,95 sem juros</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <input type="number" class="form-control tam-qtd-item" id="qtdItem" value="1">
                        <a href="#" class="btn btn-danger comprar-qtd mx-3">Comprar</a>
                    </div>
                    <div class="d-flex pt-4 frete">
                        <img class="caminhao" src="../../../../assets/img/caminhao-de-entrega.png" />
                        <h3 class="mx-2">
                            Calcular Frete</h3>
                    </div>
                    <div class="input d-flex">
                        <input type="text" class="form-control tamanho_input_cep" placeholder="00000-000"
                            aria-label="cepConsulta" aria-describedby="button-addon2">
                        <button class="btn btn-outline-dark ms-2" type="button" id="cepConsulta">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Descrição e detalhes-->
<div class="container pt-3">
    <h2>Descrição</h2>
    <p>O futuro de Westeros está em jogo, e ninguém descansará até que os Sete Reinos tenham explodido em uma verdadeira tormenta de espadas.
        Dos cinco pretendentes ao trono, um está morto e outro caiu em desgraça, e ainda assim a guerra continua em toda sua fúria, enquanto alianças são feitas e desfeitas. Joffrey, da Casa Lannister, ocupa o Trono de Ferro, como o instável governante dos Sete Reinos, ao passo que seu rival mais amargo, lorde Stannis, jaz derrotado e enfeitiçado pelas promessas da Mulher Vermelha.
        O jovem Robb, da Casa Stark, ainda comanda o Norte, contudo, e planeja sua batalha contra os Lannister, mesmo que sua irmã seja refém deles em Porto Real. Enquanto isso, Daenerys Targaryen atravessa um continente deixando um rastro de sangue a caminho de Westeros, levando consigo os três únicos dragões existentes em todo o mundo.
        Enquanto forças opostas avançam para uma gigantesca batalha final, um exército de selvagens chega dos confins da civilização. Em seu rastro vem uma horda de terríveis criaturas místicas – os Outros: um batalhão de mortos-vivos cujos corpos são imparáveis.</p>

        <h4 class="py-4">Mais Informações </h4>
        <p>Editora: Leya <br>
        Edição: 1ª edição (20 setembro 2019)<br>
        Idioma: Português<br>
        Páginas: 832 páginas<br>
        Capa: Dura <br>
        Dimensões: 23 x 15.8 x 3.8 cm</p>
</div>